<form class="checkout-form">
    <input name="codes" type="text" placeholder="FirstCode SecondCode"
           class="block my-2 mx-auto px-4 py-2 rounded-lg border border-gray-600 text-lg w-64">
    <input name="email" type="email" placeholder="E-mail"
           class="block my-2 mx-auto px-4 py-2 rounded-lg border border-gray-600 text-lg w-64">

    <button class="block my-4 mx-auto px-6 py-4 rounded-lg border border-green-600 bg-transparent hover:bg-green-600 text-green-600 hover:text-white font-semibold text-xl text-center">
      Checkout
    </button>

    <p class="checkout-form__message text-lg text-center font-semibold"></p>
</form>
