<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <title>
      {{- block "title" . }}
      {{ .Site.Title }}
      {{ end -}}
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body class="bg-gray-100">
    {{- partial "header.html" . -}}
    {{- block "main" . -}}{{- end -}}
    {{- partial "footer.html" . -}}
  </body>
</html>
