{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
  <main class="container mx-auto my-8 px-4">
    <article>
      <img class="mx-auto" src="{{ .Params.headerImage }}" alt="">

      <div class="content max-w-3xl m-auto">
        {{ if .Params.titleImage }}
          <img class="w-64 py-4" src="{{ .Params.titleImage }}" alt="{{ .Title }}">
        {{ else }}
          <h1 class="text-3xl text-gray-800 my-4">{{ .Title }}</h1>
        {{ end }}

        {{ if .Params.schedule }}
          <p class="pr-2 text-gray-700 italic">
            {{ .Params.schedule }}
          </p>
        {{ end }}

        {{ .Content }}
      </div>
    </article>
  </main>
{{ end }}
