{{ define "main" }}
  <main class="container mx-auto my-8 px-4">
    <article class="max-w-3xl content">
      {{ .Content }}
    </article>
    <div class="my-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-2">
      {{ range where .Site.RegularPages "Type" "exhibitions" }}
        <a href="{{ .RelPermalink }}" class="flex flex-col bg-white shadow-sm hover:shadow-md transition-shadow duration-200">
          <img class="m-auto p-2" src="{{ .Params.listImage }}" alt="">
          <h2 class="px-4 text-2xl text-gray-800">
            {{ .Title }}
          </h2>

          <div class="flex items-center mt-2 mb-4 px-4">
            {{ if .Params.schedule }}
            <p class="pr-2 text-gray-700">
              {{ .Params.schedule }}
            </p>
            {{ end }}

            <div class="ml-auto pl-4 rounded-full bg-green-700 flex-none">
              <span class="font-semibold text-white leading-none">
                {{ .Params.burgers }}
              </span>

              <img class="inline-block w-8 h-8 ml-1 p-1 rounded-full bg-green-800" src="/images/burger.png" alt="">
            </div>
          </div>
        </a>
      {{ end }}
    </div>
  </main>
{{ end }}
